<aside >



    <!--    <dialog style="display:block" ng-show="doesMessageappear">
            <a href="#0" class="cd-close-menu">Close<span></span></a>
    
            <h6>{{message.title}}</h6>
            <p >{{message.body}}</p>
    
    
        </dialog>-->




        <section class="wechat-box">
            <i class="fa fa-weixin"></i>
            <img src="images/qr-code.jpg"/>
            <p>加微信</p>
            <p>或者拨打电话:</p>
            <p style="font-size: 20px; margin: 10px auto 5px;"><b>021 106 1961</b></p>


            <div style="margin-top:15px;" class="btn-shape" ng-click="toggleSubcribewindow()">订阅我们</div>
        </section>

        <section class="aside-block">
            <div class="big-circle"><img src="images/calculator.jpg"/></div>
            <div class="title_with_icon">
                <i class="fa fa-calculator">&nbsp;</i>
                <div>我的可贷款数额是？</div>
            </div>


            <a ng-href="#/calculator" class="btn-shape btn1 center-position">立即计算</a>
        </section>

        <div class="dividor"></div>

        <section class="aside-block" >
            <div class="title_with_icon">
                <i class="fa fa-quote-left">&nbsp;</i>
                <div>顾客评价</div>
            </div>

            <table class="testimonial" style="border-spacing: 10px 0;">
                <tbody>
                    <tr>
                        <td><div class="avatar"><img src="https://lh3.googleusercontent.com/-ZadaXoUTBfs/AAAAAAAAAAI/AAAAAAAAAGA/RZPkrPJCs_U/photo.jpg"/></div></td>
                        <td><div>姜育恒</div></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>我觉得你们很牛逼。</td>
                    </tr>



                    <tr>
                        <td><div class="avatar"><img src="http://d.fastcompany.net/multisite_files/fastcompany/fc_files/profile/2219225-austin-carr-profile.jpg"/></div></td>
                        <td>刘欢</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>我觉得你们很牛逼。</td>
                    </tr>



                    <tr>
                        <td><div class="avatar"><img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRSls_dhrFI0wZXQVgWweMe4wvONd_-OMxEpLVYXhOPPUa3u1KP"/></div></td>
                        <td>章子怡</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <p>我們結束了在Niseko的滑雪板運動后,住在了福岡城的這家酒店。我們高度推薦!!住在這裏就像雪梨人住在Woolloomooloo的W酒店一樣好。</p>
                            <p>房間的大小正合適,我老婆說浴室里有三個噴頭,真是太豪華了。(我們是在日本啊!!)</p>
                        </td>
                    </tr>

                </tbody>
            </table>

        </section>

    </aside>


