<aside >



    <!--    <dialog style="display:block" ng-show="doesMessageappear">
            <a href="#0" class="cd-close-menu">Close<span></span></a>
    
            <h6>{{message.title}}</h6>
            <p >{{message.body}}</p>
    
    
        </dialog>-->




        <section class="wechat-box">
            <i class="fa fa-weixin"></i>
            <img src="images/qr-code.jpg"/>
            <p>加微信</p>
            <p>或者拨打电话:</p>
            <p style="font-size: 20px; margin: 10px auto 5px;"><b>021 106 1961</b></p>


            <div style="margin-top:15px;" class="btn-shape" ng-click="toggleSubcribewindow()">订阅我们</div>
        </section>

        <section class="aside-block">
            <div class="big-circle"><img src="images/calculator.jpg"/></div>
            <div class="title_with_icon">
                <i class="fa fa-calculator">&nbsp;</i>
                <div>我的可贷款数额是？</div>
            </div>


            <a ng-href="#/calculator" class="btn-shape btn1 center-position">立即计算</a>
        </section>

        <div class="dividor"></div>

        <section class="aside-block" >
            <div class="title_with_icon">
                <i class="fa fa-quote-left">&nbsp;</i>
                <div>顾客评价</div>
            </div>

            <table class="testimonial" style="border-spacing: 10px 0;">
                <tbody>
                    <tr>
                        <td><div class="avatar"><img src="https://lh3.googleusercontent.com/-ZadaXoUTBfs/AAAAAAAAAAI/AAAAAAAAAGA/RZPkrPJCs_U/photo.jpg"/></div></td>
                        <td><div>a.</div></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>非常感谢你们的文章，十分实用。</td>
                    </tr>



                    <tr>
                        <td><div class="avatar"><img src="http://d.fastcompany.net/multisite_files/fastcompany/fc_files/profile/2219225-austin-carr-profile.jpg"/></div></td>
                        <td>b.</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>好～～赞哦～</td>
                    </tr>



                    <tr>
                        <td><div class="avatar"><img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRSls_dhrFI0wZXQVgWweMe4wvONd_-OMxEpLVYXhOPPUa3u1KP"/></div></td>
                        <td>c.</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <p>关于房地产投资的部分实太好了，一下子就帮助我理清了思路。</p>
                        </td>
                    </tr>


                    <tr>
                        <td><div class="avatar"><img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRSls_dhrFI0wZXQVgWweMe4wvONd_-OMxEpLVYXhOPPUa3u1KP"/></div></td>
                        <td>d.</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <p>已留言  望当面请教！</p>
                        </td>
                    </tr>

                </tbody>
            </table>

        </section>

    </aside>


