
<div class="fade-bg" ng-click="toggleLogin()"></div>

<div class="login-popup">

    <div class="login-intro">
        <img src="../images/login-intro-bg.jpeg">
        <div class="intro-content">
            <h6>为什么要成为分销商</h6>
            <p>这里需要文字内容，小高高高高高高高高高高高高高高高高高高高高高高高高高高高高高高高高高高高高高高高高高高高高高高高高高高高高高高高高高高高高高高</p>
        </div>
    </div>


    <div class="login-insert-part">

        <a class="cd-close-menu" ng-click="toggleLogin()">Close<span></span></a>

        <h6><i class="fa fa-sign-in"></i>&nbsp;&nbsp;登陆</h6>
        <form role="form" name="loginform">
            <div class="form-group">
                <!-- <p>Welcome : <span>{{user.mail}}</span></p> -->
                <label for="exampleInputEmail1"><i class="fa fa-envelope"></i></label>
                <input type="text" placeholder="请输入账号" name="mail" class="form-control" ng-model="user.username" required>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1"><i class="fa fa-lock"></i></label>
                <input type="password" placeholder="请输入密码" name="password" id="exampleInputPassword1" class="form-control" ng-model="user.password" required>
            </div>

            <!--            <div class="remember-pw">
                            <div class="check-box"></div>
                            <span>Remember Passwords</span>
                        </div>-->
            <input class="btn-shape btn1 center-position" type="submit" ng-click="login(user)" ng-disabled="loginform.mail.$invalid ||
                        loginform.password.$invalid" value="Login">
            <p>{{message}}</p>
        </form>
        <p class="text-on-white"><a ng-click="toRegisterPage()">注册成为分销商</a></p>
    </div>


</div>



<!--</div>-->
