
<div class="fade-bg" ng-click="toggleSubcribewindow()"></div>

<div class="login-popup"  ng-controller="Subcribewindowcontroller">


<!--    <div class="login-insert-part">

        <h6><i class="fa fa-sign-in"></i>&nbsp;&nbsp;Subcribe</h6>
        <form role="form" name="subcribeform">
            <div class="form-group">

                <label for="exampleInputEmail1"><i class="fa fa-envelope"></i></label>
                <input type="email" placeholder="Enter name" name="mail" class="form-control" ng-model="subcribe.email" required>
                <div ng-if="subcribeform.mail.$invalid && !subcribe.email">please give an email</div>
            </div>

            <input class="btn-shape btn1 center-position" type="submit" ng-click="submit(subcribe)" ng-disabled="subcribeform.mail.$invalid" value="Subcribe">
        </form>
    </div>-->

<div class="login-insert-part">

    <h6><i class="fa fa-sign-in"></i>&nbsp;&nbsp;Subcribe</h6>
    <form role="form" name="unsubcribeform">
        <div class="form-group">

            <label for="exampleInputEmail1"><i class="fa fa-envelope"></i></label>
            <input type="email" placeholder="Enter name" name="mail" class="form-control" ng-model="subcribe.email" required>
            <div ng-if="subcribeform.mail.$invalid && !subcribe.email">please give an email</div>
        </div>

        <input class="btn-shape btn1 center-position" type="submit" ng-click="unsubmit(subcribe)" ng-disabled="unsubcribeform.mail.$invalid" value="Unsubcribe">
    </form>
</div>

</div>



<!--</div>-->
