<body >




<main>
    <div class="theme-slide">
        <img src="images/home-theme.jpg"/>
    </div>
    <div aside></div>

    <article>

        <h5>川妹子的13年，留学创业在新西兰         
            <div class="like" style="display: inline-block; vertical-align: bottom; margin: 0 0 10px 0;float: none;"><i class="fa fa-heart-o">&nbsp;</i>3.6k</div>
        </h5>   


        <h6>【我的故事】</h6>


        <div class="article-in-here" >
            <b>
                <p>大家好，我是小乔。</p>
                <p>来新西兰13 年了。</p>
                <p>从小留学生，到2个孩子的妈妈。</p>
                <p>从公司小职员，到精算师，再到最大贷款投资公司合伙人.</p>
                <p>一路走来，欢笑和泪水，和大家一样。</p></b>

            <p>我是四川成都人，2001年来新西兰。记得当时想出国的原因很简单，就是不喜欢国内什么事都得在饭桌上解决。不喝酒的我，觉得自己应该完全混不出来。来到新西兰也是偶然，因为去新加坡的签证没有下来，又正好碰上新西兰开放对中国留学生的配额，所以就这么来了（来以前还一直以为新西兰是澳大利亚的一部分哈哈哈 ）。</p>

        </div>

        <h6>【留学】</h6>

        <div class="article-in-here" >
            <p>我是在Hamilton 的Waikato University读的金融专业的研究生。</p>

            <p>本来在国内以为自己英文还算不错，结果一来这里彻底傻眼了，完全找不到方向。大学没有围墙，班里没有班主任，甚至连什么时候上课，在哪儿上课都得自己花好长时间研究。</p>

            <p>记得第一节课，老师讲了2小时，我就听懂了一个单词Population. 我还一直纳闷呢，怎么学的是统计课，老师总讲人口，是举的例子？ 结果后来才搞明白这个我唯一“听懂”的单词也没真的听懂（在统计学里Population是总体的意思）。当然，不意外的第一次考试考了一个创纪录的28分（哭）。</p>

            <p>记得那时就有了自己的出国后的第一个梦想（当时绝对是梦想的级别）：如果我哪天在校园走过，当地同学们驻足闲聊，我走过他们身边的几秒钟能听懂他们在说什么就好了。</p>

            <p>之后的五、六年，和当时大部分的留学生一样，长年反复的看着老友记Friends来学英文，最后都成了Fans.</p>

            <p>那时的Hamilton,远没有现在这么繁华。没有什么中国人，一个破烂的中国超市，没有真正的中国餐厅。周末商店都不开门，5纽币一个的花菜（才知道花菜是可以按个来卖的）。2纽币一分钟的长途电话费，能告诉父母的除了简单的“一切都好”也就什么也说不了了。</p>

            <p>不过新西兰人的善良热情我们倒是一直深有感受。记得那是第一次自己坐公车进城（大学不在市中心），去的时候没问题，到了终点站大家都下我也就下了。回来就傻了。居住区没有明显高大建筑物，哪里都长得一样，完全不知道应该在哪儿按铃下车。拿着寄宿家庭的小纸条，用蹩脚的英文，终于让公车司机弄明白了局面：我找不着北了！司机大叔停了车，对车上的乘客说了几句，然后就下车带着我走了2个街区，直到我看见了寄宿家的房子，才又自己走回车上去。这么多年了，每每有人提到新西兰遇到的善良好人，我都会想到这位司机大叔。</p>

        </div>



        <h6>【移民】</h6>

        <div class="article-in-here" >
            <p>我们所有海外华人都需要闯过的一关： 移民！</p>

            <p>新西兰的移民政策已经不记得变了多少次了。我当时想要移民的时候还是23分（23分以上就可以移民）。我自己如果研究生毕业就有24分，本以为读完书移民完全没有问题。什么叫计划赶不上变化，什么叫人算不如天算！我是7月毕业，8月拿毕业证。移民局7月开始执行新移民政策，活生生的把我踢了出去！</p>

            <p>新政策是有工作可以加8分，也就是说毕业找到工作是唯一的移民出路。但是当时的新西兰可不是现在的新西兰，本地市场本来就没有太多的工作机会，华人在文化上的差异和语言上的不足，要找工作是真难！我大学前一届的8个华人MBA，无一例外的都回国了。（出来多年，真心感谢祖国的强大，对我们在海外的华人意义深远）</p>


        </div>


        <h6>【找工作】</h6>

        <div class="article-in-here" >
            <p>华山一条路： 找工作呗！</p>

            <p>以为自己是学金融的，当然是先申请银行了。简历投给了新西兰当时所有的银行，哈哈，连网上申请的系统都没有过就直接被打回来了，因为没有身份！（没有移民）</p>

            <p>好吧面对现实，把网上，报纸上觉得有可能没可能的公司工作都申请了，等回来的是每天十几封的拒绝信。（连哭都没用了）</p>

            <p>当时确实是像没头苍蝇一样，而且真的觉的可能只有卷铺盖回国了。（当然，确实当时也有中介可以“帮”你“找”工作，不过2万纽币我家里是拿不出来的了）。</p>

            <p>为了增大找到工作的可能性，我开始转战新西兰最大的城市奥克兰Auckland。机会就是等着不放弃的人！</p>

            <p>一个洋人开的卖宝马奔驰的二手小车行，要招一个可以帮助他们做中国客户的办公室助理。本人和多数正常女生一样，对车，除颜色以外，别的一窍不通。面试的时候老板问：</p>

            <p>
            <ul>
                <li>什么学历？（答：本科。不敢说高了，学历越高相对应工资越高，越没人要）</li>
                <li>有没有驾照？（答：有。其实只有中国驾照，而且从来没在新西兰开过）</li>
                <li>对奥克兰熟吗？（答：熟。当时不熟，以后天天在奥克兰上班能不熟吗）</li>
                <li>对车了解吗？（答:了解。上班培训后肯定了解呀）</li>
                <li>什么时候可以上班 （答：明天。虽然当时还住在Hamilton ）</li>
            </ul>
            </p>

            <p>连哄带骗的获得了第一份工作。上班第二天就开着公司发的（我自己当时没车）大奔S320（ 我开，外面看完全是无人驾驶的造型），开始了熟悉奥克兰的生活。</p>

            <p>熟悉各种车款，安排办公室优化，帮助会计师理顺财务。忙碌的3个月后我的移民问题也搞定了。（当时移民政策对工作职位没有要求，加之这个是一家经营多年的洋人公司）</p>

        </div>


        <h6>【“误入歧途”】</h6>

        <div class="article-in-here" >
            <p>移民了！那主动权就在咱们自己手上了！哈哈！果断的给自己放了2个月假！</p>

            <p>从国内回来后，本来是想找个自己专业相关的工作，结果机缘巧合认识了一位传奇人物，开始了一段自己也不太相信的经历。</p>

            <p>那些年如果去Skycity玩过21点（blackjack ) 的朋友应该都对一个光头老外有印象。他总是一个人坐在$100纽币的桌上(当时是大厅里最高限额的桌了)，一个人打好几个box. 大家初看到时都会不自觉的围观一下，觉得要不他就是很有钱，要不他就是一个赌徒。一个偶然的机会认识了这个传奇的Mr J.</p>

            <p>21点是所有赌场唯一一个可以赢到庄家钱的游戏，如果你懂其中的数学原理。学21点，我以为就是需要记性好（我能记住8副扑克牌）。然而就像所有别的商品或生意一样，再好的产品，没有很强的经营团队也不会被卖到世界各地。能记住所有牌和知道怎么打牌，只是21点这个职业里的1%。99%是你怎么不让赌场知道你是card counter(能数牌的人)，因为作为土豪的赌场是不会甘心让你把他们的钱随便大笔赢走的。哈哈，不违法，但是赌场有权不让你再进去。</p>

            <p>如果大家看过电影“21点 ”就知道为什么我这段经历连我自己也觉得是在做梦一样。到澳洲，到美国，像是演戏。</p>

        </div>


        <h6>【“迷途知返”】</h6>

        <div class="article-in-here" >
            <p>旅游，赌场，5星级酒店，VIP接送，一切都很新奇，很刺激。不过，这种日子没过多久我就觉得心里有点空。当你不能告诉朋友家人你在做什么的时候，这事一定不可能做太久。</p>

            <p>收拾了心情，找到了一个保险公司的会计助理的工作（因为移了民，英文也比以前好，找个大公司的小职位并不是太难。）</p>

            <p>好景不长，我这折腾的性格就做不了不折腾的事。工作简单而重复，虽然3个月内，一个同事换工作，一个同事生小孩，我把她们的活都接过来了，还是每天看着表等着5点下班。</p>

            <p>哎，新西兰的悠闲生活，我也不好意思抱怨呀。于是大把的时间又开始了自己的折腾。</p>

            <p>首先， 觉得应该给自己买个房子。但是在哪儿买，买什么样的房，怎么买，一堆问题。于是开始了我的房地产讲座Seminar的时光。那时给钱不给钱，有意思没意思的讲座我都去，和房产相关的法律税务书懂不懂的我都买来看。当时觉得很空的东西，在我后来的实际买房过程中起到了不可忽视的作用。</p>

            <p>然后，就得给自己规划一个更好得职业吧。上网搜：什么工作才是世界上最好工作？（希望我不是唯一搜这种近乎白痴问题的人 哈哈）Actuary!精算师！连续3年被评为在美国最好的工作。哈哈，现在仍然还记得当时决定自己要变成精算师的那高兴劲儿。</p>

            <p>年轻吧，幼稚吧，高兴得太早吧，天下哪有不要钱的午餐呀？！</p>

            <p>仔细一研究，发现精算师这个工作为什么好呢？工作轻松（因为要变成工作轻松的精算师前要考十几门试，一般需要8-10年），收入高（因为没有几个能考完最后变成精算师），受尊重（因为学的东西太难，大家压根不知道你在做什么，所以也没法质疑）。</p>

            <p>一般只有国际保险或投资公司会招精算师学生，在咱们这个新西兰“小乡村”，那几个公司都能数得出来。而且不是奥大的全A+的尖子生，一般连面试的机会都没有。</p>

            <p>怎么办？我决定自己出资（资料＋考试费，可不便宜）先考过1，2门，这样进去的可能性就会大些。接下来就是6个月的准备：上班，看书，上班，看书，上班，看书。。。。。</p>

            <p>运气不错还真让我考过了最简单的一门。（哈哈）</p>

        </div>


        <h6>【混进金领】</h6>

        <div class="article-in-here" >
            <p>有了这个敲门砖，我得到了第一个面试得机会。</p>

            <p>IAG，澳洲保险公司。</p>

            <p>初次面试很容易，2个经理，3杯咖啡，1个小时，什么专业知识都没问，竟瞎聊了，哈哈轻松过关！</p>

            <p>二次面试，下狠手！还是那2个经理，不过改成4个小时，14页的问题（有70%我都不知道答案！）。现在还记得当时出来时的感觉，那叫一个累，那叫一个没戏！</p>

            <p>哈哈，没想到的没想到吧，居然又通知我第三次面试。这次是2小时的全电脑测试：逻辑，心理，英文，性格。</p>

            <p>就这样在绝望的感觉中，我侥幸的混进了精算师的队伍。</p>

        </div>



        <h6>【左手抓主业，右手抓副业】</h6>

        <div class="article-in-here" >
            <p>之后的历程就和所有别的精算师学生一样了：</p>

            <p>
            <ul>
                <li>上班：学，再学。。。。。太多不懂的东西了</li>
                <li>下班：学，再学。。。。。太多要考的试了</li>
                <li>娱乐： 0</li>
            </ul>
            </p>

            <p>俗话说，媳妇熬成婆，应该也是这个过程吧。 哭！</p>

            <p>当然工作和收入也与付出成正比快速增长。先后又为美国AON做投资，Tower做寿险。</p>

            <p>唯一有些不同的可能是随着我专业知识的积累，和我对房地产的认知加深，我自己一直在积极的投资房地产。在可控制的风险下，最大化运用杠杆效应（leverage)。没有富爸爸或干爹的我们，这是一个相当不错的选择！ 哈哈</p>

            <p>新西兰房价平均7-10年翻一番。</p>

            <p>从2005－2007年的疯狂，到2008－2010的无人问津。</p>

            <p>从买房全贷款，每周还贷后还净收入300纽币。到现在3-4%的租金回报率（北岸）。</p>

            <p>我自己从在东区买第一个房子开始，然后开始投资中区，现在投资北岸。</p>

            <p>从小的apartment，到大地分割。</p>

            <p>从买投资回报率，到买资产增值率。</p>

            <p>从一年买进1个都难，到一年买7个房子。</p>

            <p>已经记不清看过多少房，出过多少offer（议价合同），去过多少次拍卖。同时也深深体会到这一行要学要弄懂的东西太多：</p>

            <p>
            <ul>
                <li>怎样从成千上万的上市房屋里找到有增值潜力的盘</li>
                <li>怎样判断一个房屋的实际价值而不是卖家或中介想要的价</li>
                <li>怎样从众多买家中抢到热门盘，从冷门盘里挑出黑马盘</li>
            </ul>
            </p>


            <a style="color:orange">具体投资细节，请加我的微信平台xiaoqiaonz看【我的投资】<a/>

        </div>


        <h6>【“弃暗投明”-- 创业】</h6>

        <div class="article-in-here" >
            <p>这不就是折腾的命吗？！</p>

            <p>曾经被搜出来的，被评为全世界最好的工作，不知道什么时候起有了以下的“缺点”：</p>

            <p>
            <ul>
                <li>工作再好，每天也得去呀！大家8:00 上班，我再晚也不能晚过9:00吧。</li>
                <li>上下班时间，路上堵得再厉害，时间浪费得再多，老板也不会让我在家工作。</li>
                <li>公司再大，也是股东的呀！除了工资，跟我没有一点关系。</li>
                <li>对工作想法再多，经过一层层经理，能实现也就不剩什么了。</li>
                <li>200%的努力，和60％凑合，好像在偌大的公司区别也不明显。</li>
            </ul>
            </p>

            <p>有了这些“牵强”的借口，就差导火索了。</p>

            <p>因为自己一直投资房产，本以为自己在和各银行接触方面没有问题，但也遇到和大多数投资者一样的瓶颈。在房子买到一定数量时，银行贷款就越来越难了。就在我黔驴技穷要放弃一个好房子的时候，金松鼠信贷的老板John B 帮了我。什么叫专业，那次我信了！</p>

            <p>JB，前任澳新银行ANZ的总经理，不典型的kiwi, 智慧，远见。能写程序的老板，能做市场的broker贷款经理。</p>

            <p>有了这么一个高大上的导火线，我义无反顾的“弃明投暗”，加入了这个新西兰最大的贷款投资公司，变成了它们的商业合伙人。</p>

            <p>从此开始了创业“不归路”。。。。。</p>

            <p>金松鼠信贷从第一天开始就致力于区别其他贷款公司，保护买房者的最大权益！ 我们是全新西兰唯一一个所有员工都是工资加奖金的贷款投资公司。这就意味着我们有着比别人高出很多的固定支出，但也同时证明我们的员工总是把客户的利益放在第一位，不会因为每个单子的回扣而影响自己的专业意见。</p>

            <p>当然从做100%的洋人市场到开辟华人市场，对我们的挑战是巨大的！</p>

            <p>当地洋人市场，夫妻俩十几万的年薪很多，但就是没有足够的首付去买房。因为存钱对他们来说太难太难！喝酒，旅游都比买房重要！哈哈哈</p>

            <p>我们大部分华人都有足够的首付（感谢世界上最伟大的中国父母），但可证明的打税收入，难！这是家家有本难念的经。所以我们就需要就每家不同的情况，给出客人最有利的解决方案。</p>

            <p>以前为我们的洋人客户提供买房投资组合建议，我都是按小时收取咨询费用。现在为了最大限度的帮助到我们的华人朋友，只要是公司的客户我都会根据各自的情况，免费为他们提供买房，投资，税务等方面的建议。</p>

            <p>所以日子也就变成了：</p>

            <p>
            <ul>
                <li>一周只用去1-2次公司，但每天工作十几个小时</li>
                <li>再也不用堵车的时候出门，但晚上8:00还可能没回家</li>
                <li>没有了阻止我想法的经理，但大小决定我都要考察考察再考察</li>
                <li>赚了钱，所有员工都是最先拿到的，老板的利润又一分不少的投回到公司</li>
            </ul>
            </p>

            <p>不过，200%的努力，我有感受到200%的快乐！</p>

        </div>


        <h6>【生活在新西兰】</h6>

        <div class="article-in-here" >
            <p>在工作中认识了我的先生，他是首席投资精算师，也是典型的有爱尔兰血统的Kiwi。运动，钓鱼，喝酒都是他的最爱。 Lifestyle(生活) 总是第一位的，工作总是最后一位的。 哈哈  所以虽然他一直很支持我做自己喜欢的事，但到现在还是不明白为什么我把自己搞得这么忙。所以我们家跟房子相关的事情，他只负责去律师那里签字。房子在哪儿，什么样，买成多少钱，拿来干嘛， 他一律不管。他只特别强调了一点，所有的房客都不能有他的电话 ！哈哈</p>

            <p>我们现居住在奥克兰北岸，有一个2岁半的女儿和9个月大的儿子。女儿在上一个特别有爱的教会幼儿园 。 儿子生下来湿疹就很严重，现在大一点稍微好点了，还在继续找药治疗中。</p>

            <img src="../images/children.jpg"/>


        </div>

        <div class="article-in-here" >
            <p>这就是我的13年。</p>

            <p>感谢您看完我的故事，欢迎您关注我的微信平台：xiaoqiaonz，我会每周都为您带来更多新西兰买房，投资故事。</p>

            <b><p>小乔与您不见不散。</p></b>


        </div>



    </article>

    <div class="control-btn-section">
        <div class="btn-shape btn1 "><i class="fa fa-heart-o"></i>&nbsp; 赞一下</div>
        <div class="btn-shape btn1 "><i class="fa fa-share"></i>&nbsp; 分享到&nbsp; <i class="fa fa-caret-down"></i></div>
    </div>



</main>
<!-- Footer -->

<footer >

</footer>


</body>

