

<main>
    <div class="theme-slide">
        <img src="images/about-theme-img.jpeg"/>
    </div>


    <!-- masonry======================= -->


    <div id="container">


        <div class="item">
            <a ng-href="#/aboutJo">
                <img src="images/1.jpg">
                <div class="m-item-dec-wrapper">
                    <div class="m-item-dec">
                        <div class="item-title">关于小乔</div>
                        <div class="item-date">5 Jan 2015</div>
                    </div>
                    <div class="like"><i class="fa fa-heart-o">&nbsp;</i>3.6k</div>
                </div>
            </a>
        </div>

        <div class="item">
                        <a ng-href="#/companyintroduction">
            <img src="images/jb_jo.jpg">
            <div class="m-item-dec-wrapper">
                <div class="m-item-dec">
                    <div class="item-title">关于金松鼠</div>
                    <div class="item-date">5 Jan 2015</div>
                </div>
                <div class="like"><i class="fa fa-heart-o">&nbsp;</i>3.6k</div>
            </div>
        </a>
        </div>




    </div>

    <div aside></div>


</main>
