


<main>
    <div class="theme-slide">
        <img src="images/blog-theme-img.jpeg"/>
    </div>


    <!-- masonry======================= -->

    <div id="container">
        <div ng-repeat="blog in blogs">


            <div class="item">
               <a href="#/blog/{{blog.blogid}}"> <img  ng-src="{{blog.imgurl}}"></a>
                <div class="m-item-dec-wrapper">
                    <div class="m-item-dec">
                        <div class="item-title">About Joanne</div>
                        <div class="item-date">5 Jan 2015</div>
                    </div>
                    <div class="like"><i class="fa fa-heart-o">&nbsp;</i>{{blog.views}}</div>
                </div>
            </div>

        </div>
    </div>

    <div aside></div>


</main>