


<main>
    <div class="theme-slide">
        <img src="images/blog-theme-img.jpeg"/>
    </div>



    <div class="article-categories">

        <ul >
            <li ng-repeat="blogtype in blogtypes" class="{{blogtype.cssclass}}" radioclick="filterbyType(blogtype)" value="{{blogtype.BlogTypeid}}">{{blogtype.BlogType}}</li>

        </ul>

    </div>




    <!-- masonry======================= -->

    <div id="container">



   

        <div ng-repeat="blog in blogs">

            <div class="item">
                <a href="#/blog/{{blog.Blogid}}"> 
                    <img  ng-src="{{getimage(blog)}}"></a>
                <div class="m-item-dec-wrapper">
                    <div class="m-item-dec">
                        <div class="item-title">{{blog.title}}</div>
                        <div class="item-date">{{blog.createTime}}</div>
                    </div>
                    <div class="like"><i class="fa fa-heart-o">&nbsp;</i>{{blog.views}}</div>
                </div>
            </div>

        </div>
    </div>

    <div aside></div>


</main>