<body >



    <main>
        <div class="theme-slide">
            <img src="images/product-book.jpg"/>
        </div>
        <div aside></div>

        <div class="article-wrapper">
        <article>

            <div class="demo-chapter">
                <div class="price-ribbon">
                    <div class="ribbon"></div>
                    <p>$<b style="font-size:20px">30<b></p>
                </div>

                <div class="product-img"><img src="http://www.weekendnotes.com/im/001/09/book-sale-room-to-read-charity-literacy-library.jpg"></div>
                <div class="product-info">
                    <h6>《产品名字》
                        <div class="like" style="display: inline-block; vertical-align: bottom; margin: 0 0 10px 0;float: none;"><i class="fa fa-heart-o">&nbsp;</i>3.6k</div>
                    </h6>
                    <p>作者: 小乔</p> 
                    <p>出版社: 江苏凤凰文艺出版社</p>
                    <p>出版年: 2015-3</p>
                    <p>定价: 32.80</p>
                    <p>装帧: 电子</p>
                    <p>ISBN: 9787539980713</p>

        <div class="purchure-btn-section">
            <p><b style="font-size:20px">1273125</b>人下载</p>
            <div class="btn-shape btn1 lg-btn" ng-click="checkout()"><i class="fa fa-cart-arrow-down"></i>&nbsp; 购买 </div>
            <p style="margin:10px 0;">文件大小 16.85 MB</p>
<!--                 <div class="btn-shape btn1 "><i class="fa fa-heart-o"></i>&nbsp; 赞一下</div>
        <div class="btn-shape btn1 "><i class="fa fa-share"></i>&nbsp; 分享到&nbsp; <i class="fa fa-caret-down"></i></div> -->
    </div>  



                </div>

            </div>

            <h5>          

            </h5>     


            <h6>内容简介</h6>


            <div class="article-in-here" >
                <p>跟随日本杂货女王、无印良品设计师冈尾美代子，从小物品和小细节中体会微小而又确切的幸福。</p>

                <p>在《没有动力的时候，一个人发发呆也好2》中，冈尾美代子带领读者来一次世界游走：英国、丹麦、俄罗斯、罗马尼亚、印度、匈牙利、美国……这不是普通的见闻记录，而是着眼于各地特色小物：威尔士 毛毯、莫斯科桌布、罗马尼亚拖鞋、复活节的兔子……生活中的各式情调通过窃窃私语般的文字和别致的宝丽莱照片一一呈现。</p>

                <p>书中传递出怡然自在的闲情，以及在行走中不断摸索找寻生活格调的态度。生活之美在每一个当下，别辜负了它。</p>

                <p>编辑推荐：</p>

                <p>慵懒、沉静、小幸福。也许要多翻几遍，才能发掘这本暖烘烘的小书蕴藏的美好。</p>

                <p>《没有动力的时候，一个人发发呆也好2》的作者冈尾美代子是日本生活美学大师，善于用细腻的文字和宝丽莱相机捕捉微小而又确切的幸福。无论是宅在家中还是行在路上，简单的衣食住行都被她依循着内心“造型”了，温润的生活气息扑面而来，我们可以跟随冈尾美代子的脚步发现生活之美，体会一点点慵懒和有趣，也可以把这本小书当作一种提醒：珍视生活里的闲适和感动，我们可以活得开心一些，更有自己的风格一些。</p>
            </div>



            <h6>目录:</h6>
            <div class="article-in-here" ><p>
                <ul>
                    <li>下午茶</li>
                    <li>买威尔士毛毯</li>
                    <li>切尔西植物园</li>
                    <li>莱伯金建造的动物之家</li>
                    <li>写给亨利的信</li>
                    <li>什么都没有最好</li>
                    <li>中国</li>
                    <li>不好的消息，冈尾在北京病倒了</li>
                    <li>短途旅行</li>
                </ul>
            </p></div>




            <div class="demo-chapter">
                <h6>章节预览：</h6>
                <p>跟随日本杂货女王、无印良品设计师冈尾美代子，从小物品和小细节中体会微小而又确切的幸福。</p>

                <p>在《没有动力的时候，一个人发发呆也好2》中，冈尾美代子带领读者来一次世界游走：英国、丹麦、俄罗斯、罗马尼亚、印度、匈牙利、美国……这不是普通的见闻记录，而是着眼于各地特色小物：威尔士 毛毯、莫斯科桌布、罗马尼亚拖鞋、复活节的兔子……生活中的各式情调通过窃窃私语般的文字和别致的宝丽莱照片一一呈现。</p>

                <p>书中传递出怡然自在的闲情，以及在行走中不断摸索找寻生活格调的态度。生活之美在每一个当下，别辜负了它。</p>

                <p>编辑推荐：</p>

                <p>慵懒、沉静、小幸福。也许要多翻几遍，才能发掘这本暖烘烘的小书蕴藏的美好。</p>

                <p>《没有动力的时候，一个人发发呆也好2》的作者冈尾美代子是日本生活美学大师，善于用细腻的文字和宝丽莱相机捕捉微小而又确切的幸福。无论是宅在家中还是行在路上，简单的衣食住行都被她依循着内心“造型”了，温润的生活气息扑面而来，我们可以跟随冈尾美代子的脚步发现生活之美，体会一点点慵懒和有趣，也可以把这本小书当作一种提醒：珍视生活里的闲适和感动，我们可以活得开心一些，更有自己的风格一些。</p>
            </div>

        </article>

    </div>
 


</main>
<!-- Footer -->

<footer >

</footer>


</body>