


<div class="fade-bg"></div>

<div class="login-popup"   style="height:auto">


    <div class="calculator-panel">
        <a ng-href="/" class="cd-close-menu" >Close<span></span></a>


        <h6><i class="fa fa-star"></i>&nbsp;&nbsp;贷款计算器</h6>
        <form role="form" name="unsubcribeform">
            <div class="form-group">
                <label >姓:</label>
                <input type="text"  name="mail" class="form-control" ng-model="customer.surname" required>
                <label >名:</label>
                <input type="text" name="mail" class="form-control" ng-model="customer.givenname" required>
                <label for="exampleInputEmail1">邮箱：</label>
                <input name="email" class="form-control" ng-model="customer.email" required/>
                <label for="exampleInputEmail1">是否新西兰居民：</label><br/>
                <input class="pr-yes btn-clicked" type="button" ng-model="customer.pr" radioclick="setPR(true)" value="是"/>
                <input class="pr-no" type="button" ng-model="customer.pr" radioclick="setPR(false)" value="否"/>
                <div>
                    <label for="exampleInputEmail1">可证明年税前收入（新西兰币）:</label>
                    <br/>
                    <input name="income-before-tax" ng-model="customer.income" required/>
                </div>
            </div>

            <input class="btn-shape btn1 center-position  btn_disable_{{!isFormCorrect(customer)}}" type="submit" ng-click="getResult(customer)"
                   value="询问额度" ng-disabled="!isFormCorrect(customer)"/>

        </form>
        <div ng-show="isResult">
            <table class="table">
                <thead>
                <th>Bank Name</th>
                <th>minimum </th>
                <th>maximum </th>
                <th>Cash Back</th>
                </thead>
                <tr ng-repeat="bank in banks">
                    <td>{{bank.bankname}}</td>
                    <td>{{bank.minimum * customer.income}}</td>
                    <td>{{bank.maximum * customer.income}}</td>

                </tr>
            </table>

        </div>
    </div>

</div>
