<body >




    <main>
        <div class="theme-slide about-squirrel-theme">
            <img src="images/squirrel-logo.jpg"/>
        </div>
        <div aside></div>


    <div class="article-wrapper">
        <article>

            <h5>新型的贷款中介服务         
                <div class="like" style="display: inline-block; vertical-align: bottom; margin: 0 0 10px 0;float: none;"><i class="fa fa-heart-o">&nbsp;</i>3.6k</div>
            </h5>   

            <p><b>2007年经济危机开始，John Bolton认定这时正是买房人最需要一个站在他们立场并可以依靠的人。</b></p>

            <h6 style="color:#F06421"><b>公司简介</b></h6>


            <div class="article-in-here" >


                <p>金松鼠信贷就应运而生了。表面形式上我们和别的贷款中介公司比较类似，但其实服务宗旨和专业水平上差别很大。在市场上大部分都在为卖家的利益服务时，John Bolton要做的是一个能为买家处处着想的公司。</p>

                <p>John Bolton有着耀眼的金融背景，多年在银行业担任的高层主管，曾经负责400亿的房屋贷款和基金投资。</p>

                <p>他本人也是一名地产投资专家，具备着银行和投资双方面的丰富经验。</p>

                <p>如今，John Bolton和金松鼠团队帮助着形形色色的首次购房者和新老投资客，不但帮他们做出最适合自己的决定，还争取到银行最好的利息和现金返还。我们每个月写2千5百万的房贷，一年在3亿以上。</p>

                <p>凭借着过人的业绩，我们把所有的贷款奖项都包揽了，但最值得开心的事还是比不过得到满意客人的回馈。</p>

            </div>

            <h6 style="color:#F06421"><b>贷款专家</b></h6>

            <div class="article-in-here" >
                <p>John Bolton (JB)，Squirrel的经营者，曾任新西兰两大银行的总经理，直接负责管理超过400亿的贷款及存款。JB经常以贷款投资专家的身份被各大媒体邀请采访。</p>

            </div>



            <h6 style="color:#F06421"><b>提供您最可信任的建议</b></h6>

            <div class="article-in-here" >
                <p>相比市场上别的贷款经理，我们最与众不同的地方是：我们的专业的贷款经理人都是拿工资而不是佣金的！这就意味着我们的意见是独立及公正的，我们不会因为佣金而为您提出不适当的建议。我们只会从您的立场，帮您做出正确的决定。</p>

            </div>


            <h6 style="color:#F06421"><b>只为您服务</b></h6>

            <div class="article-in-here" >
                <p>我们用多年的地产投资和贷款经验来帮助我们的客户在不同的市场购买最合适他们的房产，并且得到最优的贷款。</p>

            </div>


            <h6 style="color:#F06421"><b>可靠的工作业绩</b></h6>

            <div class="article-in-here" >
                <p>我们拥有骄人的业绩：连续五年（2008至2012年）蝉联新西兰贷款经理人联盟冠军头衔。</p>

            </div>

            <h6 style="color:#F06421"><b>我们使用的贷款银行和机构</b></h6>
            <div class="article-in-here demo-chapter asociation" >
             <ul>
                <li><img src="../images/companies/ch_amp.png" /></li>
                <li><img src="../images/companies/ch_anz.png" /></li>
                <li><img src="../images/companies/ch_asb.png" /></li>
                <li><img src="../images/companies/ch_avanti.png" /></li>
                <li><img src="../images/companies/ch_coop.png" /></li>
                <li><img src="../images/companies/ch_dbr.png" /></li>
                <li><img src="../images/companies/ch_liberty.png" /></li>
                <li><img src="../images/companies/ch_publictrust.png" /></li>
                <li><img src="../images/companies/ch_sbs.png" /></li>
                <li><img src="../images/companies/ch_sovereign.png" /></li>
                <li><img src="../images/companies/ch_westpac.png" /></li>
            </ul>
        </div>


        <h6 style="color:#F06421"><b>联系我们</b></h6>
                    <p><b>为了节约您宝贵的金钱和精力，获得我们可信赖的建议，现在就联系我们吧！</b></p>
        <div class="article-in-here demo-chapter" style="width: 620px;">

            <img src="../images/squirrel-contact.jpg"/>
        </div>

    </article>

    <div class="control-btn-section">
        <div class="btn-shape btn1 "><i class="fa fa-heart-o"></i>&nbsp; 赞一下</div>
        <div class="btn-shape btn1 "><i class="fa fa-share"></i>&nbsp; 分享到&nbsp; <i class="fa fa-caret-down"></i></div>
    </div>

</div>

</main>
<!-- Footer -->

<footer >

</footer>


</body>

