<body >



	<main>
		<div class="theme-slide">
			<img src="images/contact-theme-img.jpeg"/>
		</div>


		<!-- masonry======================= -->


		<div id="container">


			<div class="item contact-w3">
				<img src="images/contact.jpg">
				<div class="m-item-dec-wrapper" style="padding:15px 20px;">

					<div class="contact-info-each">
						<i class="fa fa-map-marker"></i>
						<div>38 College Hill, Freemans Bay, Auckland, New Zealand 1010.</div>
					</div>

					<div class="contact-info-each">
						<i class="fa fa-envelope"></i>
						<div>jo@squirrel.co.nz</div>
					</div>

					<div class="contact-info-each">
						<i class="fa fa-phone"></i>
						<div>09 360 9036</div>
					</div>

					<div class="contact-info-each">
						<i class="fa fa-mobile"></i>
						<div>+64 21 106 1961（可加微信 &nbsp;<i class="fa fa-wechat"></i>）</div>
					</div>

				</div>
			</div>

			<div class="item contact-w3">
				<div class="email-pattern"></div>
				<div class="m-item-dec-wrapper" >
					<div class="contact-info-each">
						<i class="fa fa-map-marker"></i>
						<span>38 College Hill, Freemans Bay, Auckland, New Zealand 1010.</span>
					</div>
				</div>
			</div>


		</div>

		<div aside></div>


	</main>
	<!-- Footer -->

	<footer >

	</footer>


</body>