<body >



    <main>
        <div class="theme-slide" style="top:100px; position: relative;">
            <iframe width='100%' height='350px' frameBorder='0' src='https://a.tiles.mapbox.com/v4/bigshaw.ie65ig0k/attribution,zoompan,share.html?access_token=pk.eyJ1IjoiYmlnc2hhdyIsImEiOiJkWFRxNmR3In0.v-d2S5hkW_-XYXWO_dKwrg'></iframe>
        </div>


        <!-- masonry======================= -->


        <div id="container" style="text-align:center;">


            <div class="item contact-w3">
                <img src="images/contact.jpg">
                <div class="m-item-dec-wrapper" style="padding:15px 30px;">

                    <div class="contact-info-each">
                        <i class="fa fa-map-marker"></i>
                        <div>38 College Hill, Freemans Bay, Auckland, New Zealand 1010.</div>
                    </div>

                    <div class="contact-info-each">
                        <i class="fa fa-envelope"></i>
                        <div>jo@squirrel.co.nz</div>
                    </div>

                    <div class="contact-info-each">
                        <i class="fa fa-phone"></i>
                        <div>09 360 9036</div>
                    </div>

                    <div class="contact-info-each">
                        <i class="fa fa-mobile"></i>
                        <div>+64 21 106 1961（可加微信 &nbsp;<i class="fa fa-wechat"></i>）</div>
                    </div>

                </div>
            </div>

            <div class="item contact-w3">
                <form name="emailform" >
                    <div class="email-pattern"></div> 

                    <!--                     <div class="item-box-title">SEND US AN ENQUIRY.</div> -->
                    <div class="m-item-dec-wrapper" >
                        <div class="send-email-wrapper">
                            <input class="input1" type="text" name="title" placeholder="您的姓名(必填)" ng-model="mail.title" required></input>
                            <input class="input1" type="email" name="email" placeholder="邮箱地址 (请填写有效地址)" ng-model="mail.email" required></input>
                            <input class="input1" type="text" name="mobile" placeholder="电话号码" ng-model="mail.mobile"></input>
                            <textarea class="input1" type="text" ng-model="mail.content" placeholder="想对小乔说..."></textarea>
                        </div>

                        <input class="btn-shape btn1 center-position btn_disable_{{!isFormCorrect(mail)}}" 
                               type="submit" ng-disabled="!isFormCorrect(mail)"

                               click-and-disable="sendmail(mail)"
                               value="发送">
                        <!--//                    <div class="btn-shape btn1 center-position" ng-click="sendmail()"><i class="fa fa-paper-plane"></i>&nbsp;&nbsp;Send</div>-->

                    </div>
                </form>
            </div>



        </div>

        <div aside></div>


    </main>
    <!-- Footer -->

    <footer >

    </footer>


</body>