<body >



    <main class="distributor-main-wrapper" style="top: 120px; text-align: center;">

        <div class="information-container">

            <div class="profile-bg">
                <div class="avatar"><img src="http://i01.i.aliimg.com/wsphoto/v1/424826407/60pcs-23designs-knitted-hat-baby-font-b-cap-b-font-handmade-font-b-cap-b-font.jpg"></div>
            </div>


            <table class="information-table">
                <tbody>
                    <tr>
                        <td>账号：</td>
                        <td>sample@gmail.com</td>
                        <td><i class="fa fa-edit"></i></td>
                    </tr>
                    <tr>
                        <td>密码：</td>
                        <td>Pa55word</td>
                        <td><i class="fa fa-edit"></i></td>
                    </tr>

                </tbody>

            </table>

        </div>


        <div class="information-container">

            <div style="position: absolute; width: 30%; height: calc(100% - 20px); background-color: rgba(0,0,0,.05); right: 10px; "></div>

            <table class="information-table">
                <tbody>
                    <tr>
                        <td>已卖出:</td>
                        <td><b>30</b> 本</td>
                    </tr>
                    <tr>
                        <td>总计收入:</td>
                        <td><b>900</b> 元</td>
                    </tr>
                    <tr>
                        <td>实际收入:</td>
                        <td><b>500</b> 元</td>
                    </tr>
                    <tr>
                        <td>正在处理:</td>
                        <td><b>400</b> 元</td>
                    </tr>
                    <tr>
                        <td>需要工作日:</td>
                        <td><b>5</b> 天</td>
                    </tr>

                </tbody>

            </table>

        </div>








    </main>
    <!-- Footer -->

    <footer >

    </footer>


</body>