<body >



    <main>
        <div class="theme-slide">
            <img src="images/home-theme.jpg"/>



            <div class="profile-basic">
                <div class="avatar profile-page-avatar" style="width:200px;height:200px;">
                    <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRwNrWpyPW-bT0O65CQiii6WzGvcedkGZ59Cwd8bki4E3O8otF5">
                </div>

                <div class="profile-board">
                    <div class=""></div>

                </div>

            </div>
        </div>



        <!-- masonry======================= -->


        <div style="min-width: 800px; width: 80%; right:0; margin: 50px auto;">


            <div class="item w4" style="height:500px">
                <div class="item-box-title" style="">
                    销售记录
                    <span class="amount">总计：$2000</span>
                </div>


                <div class="each-record">
<span>2015年9月10日</span>
<span>事情blablabla</span>
                    <span class="amount">$2000</span>
                </div>

                                <div class="each-record">
<span>2015年9月10日</span>
<span>事情blablabla</span>
                    <span class="amount">$2000</span>
                </div>

                                <div class="each-record">
<span>2015年9月10日</span>
<span>事情blablabla</span>
                    <span class="amount">$2000</span>
                </div>



            </div>

            <div class="item w4" style="height:500px">

                <div class="item-box-title" style="background-color: #95e5be;">
                    收入记录
                    <span class="amount">总计：$2000</span>
                </div>


            </div>



        </div>




    </main>
    <!-- Footer -->

    <footer >

    </footer>


</body>