<body >



    <main>


            <div class="profile-basic">
                <div class="avatar profile-page-avatar" style="width:200px;height:200px;">
                    <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRwNrWpyPW-bT0O65CQiii6WzGvcedkGZ59Cwd8bki4E3O8otF5">
                </div>

                <div class="profile-board">
                    <div class=""></div>

                </div>

            </div>
  



        <!-- masonry======================= -->




    </main>
    <!-- Footer -->

    <footer >

    </footer>


</body>