<body >



	<main>
		<div class="theme-slide">
			<img src="images/home-theme.jpg"/>
		</div>
		<div aside></div>

		<article>

			<h6>新西兰，3年买10个房不是梦想——我的买房日记之三</h6>
			<span>----<a>小乔</a>&nbsp;&nbsp;&nbsp;5 Jan 2015&nbsp;&nbsp;&nbsp;
				<div class="like" style="display: inline-block; vertical-align: top; margin:0; float: none;"><i class="fa fa-heart-o">&nbsp;</i>3.6k</div>
			</span>

			<div class="article-in-here">
				<p>大选后的市场真是火爆的不行！

					现在的市场，咱们华人除了对传统的已建房感兴趣以外，有经验有实力的投资者也把注意力放在了分地建房上。

					今天我就给大家聊一个这样的盘。

					位置：Takapuna 最中心黄金地段，满分！

					已有Title：2 个

					土地面积：708＋683=1391平方米

					目前现状：2个连体的房子，其中一个是用作与医疗相关的商业，另一个是民用区域在6C Zone。

					开发可能性：

					•	在现有的北岸大区开发条例下：</p>

				</div>
			</article>

			<div class="control-btn-section">
				<div class="btn-shape btn1 "><i class="fa fa-heart-o"></i>&nbsp; 赞一下</div>
				<div class="btn-shape btn1 "><i class="fa fa-share"></i>&nbsp; 分享到&nbsp; <i class="fa fa-caret-down"></i></div>
			</div>



		</main>
		<!-- Footer -->

		<footer >

		</footer>


	</body>