
<div class="popup-wrapper">

    <div class="fade-bg" ></div>

    <div class="login-popup"  ng-controller="Subcribewindowcontroller" style="height:auto">

        <a href="#" class="cd-close-menu" >Close<span></span></a>

        <div class="calculator-header" style="background-image: url('https://unsplash.imgix.net/photo-1414912925664-0c502cc25dde?fit=crop&fm=jpg&h=700&q=75&w=1050');">

             <h6><i class="fa fa-star"></i>&nbsp;&nbsp;取消关注</h6>

        </div>



        <div class="subscribe-insert-part">
          <form role="form" name="unsubcribeform">
            <div class="form-group">

                <label for="exampleInputEmail1"><i class="fa fa-envelope"></i></label>
                <input type="email" placeholder="请输入邮箱地址" name="mail" class="form-control" ng-model="subcribe.email" required>
                <div ng-if="subcribeform.mail.$invalid && !subcribe.email">请填写正确的邮箱地址</div>
            </div>

            <input class="btn-shape btn1 center-position" type="submit"  click-and-disable="unsubmit(subcribe)" ng-disabled="unsubcribeform.mail.$invalid" value="取消关注">
        </form>
    </div>

</div>

</div>
